* {
  box-sizing: border-box; }

html {
  font-size: 21px; }

body {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  font-size: 1rem;
  margin: 0 0 1rem;
  line-height: 1.15; }

p {
  line-height: 1.5; }

ul {
  padding-left: 0; }

li,
p {
  line-height: 1.5;
  font-size: 1rem; }

button,
input,
label,
textarea {
  font-size: 1rem; }

button,
input:not[type='checkbox'],
input:not[type='radio'],
textarea {
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: none; }

button {
  cursor: pointer; }

::-webkit-input-placeholder {
  color: #787878; }

::-moz-placeholder {
  color: #787878; }

:-ms-input-placeholder {
  color: #787878; }

::placeholder {
  color: #787878; }

/* @import 'bukapintu'; */
.fs0 {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

@media screen and (min-width: 30em) {
  .fs0-ns {
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .fs0-m {
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important; } }

@media screen and (min-width: 60em) {
  .fs0-l {
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important; } }

.fs1 {
  -ms-flex-negative: 1;
      flex-shrink: 1; }

@media screen and (min-width: 30em) {
  .fs1-ns {
    -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .fs1-m {
    -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important; } }

@media screen and (min-width: 60em) {
  .fs1-l {
    -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important; } }

.fg0 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

@media screen and (min-width: 30em) {
  .fg0-ns {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .fg0-m {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important; } }

@media screen and (min-width: 60em) {
  .fg0-l {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important; } }

.fg1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

@media screen and (min-width: 30em) {
  .fg1-ns {
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .fg1-m {
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important; } }

@media screen and (min-width: 60em) {
  .fg1-l {
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important; } }

.absolute-vertical-center {
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

@media screen and (min-width: 30em) {
  .absolute-vertical-center-ns {
    top: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .absolute-vertical-center-m {
    top: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

@media screen and (min-width: 60em) {
  .absolute-vertical-center-l {
    top: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

.absolute-horizontal-center {
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

@media screen and (min-width: 30em) {
  .absolute-horizontal-center-ns {
    left: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .absolute-horizontal-center-m {
    left: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

@media screen and (min-width: 60em) {
  .absolute-horizontal-center-l {
    left: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

.absolute-center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

@media screen and (min-width: 30em) {
  .absolute-center-ns {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .absolute-center-m {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }

@media screen and (min-width: 60em) {
  .absolute-center-l {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }

.f-headline {
  font-size: 4.82681rem; }

@media screen and (min-width: 30em) {
  .f-headline-ns {
    font-size: 4.82681rem !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .f-headline-m {
    font-size: 4.82681rem !important; } }

@media screen and (min-width: 60em) {
  .f-headline-l {
    font-size: 4.82681rem !important; } }

.f-subheadline {
  font-size: 3.71293rem; }

@media screen and (min-width: 30em) {
  .f-subheadline-ns {
    font-size: 3.71293rem !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .f-subheadline-m {
    font-size: 3.71293rem !important; } }

@media screen and (min-width: 60em) {
  .f-subheadline-l {
    font-size: 3.71293rem !important; } }

.f1 {
  font-size: 2.8561rem; }

@media screen and (min-width: 30em) {
  .f1-ns {
    font-size: 2.8561rem !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .f1-m {
    font-size: 2.8561rem !important; } }

@media screen and (min-width: 60em) {
  .f1-l {
    font-size: 2.8561rem !important; } }

.f2 {
  font-size: 2.197rem; }

@media screen and (min-width: 30em) {
  .f2-ns {
    font-size: 2.197rem !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .f2-m {
    font-size: 2.197rem !important; } }

@media screen and (min-width: 60em) {
  .f2-l {
    font-size: 2.197rem !important; } }

.f3 {
  font-size: 1.69rem; }

@media screen and (min-width: 30em) {
  .f3-ns {
    font-size: 1.69rem !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .f3-m {
    font-size: 1.69rem !important; } }

@media screen and (min-width: 60em) {
  .f3-l {
    font-size: 1.69rem !important; } }

.f4 {
  font-size: 1.3rem; }

@media screen and (min-width: 30em) {
  .f4-ns {
    font-size: 1.3rem !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .f4-m {
    font-size: 1.3rem !important; } }

@media screen and (min-width: 60em) {
  .f4-l {
    font-size: 1.3rem !important; } }

.f5 {
  font-size: 1rem; }

@media screen and (min-width: 30em) {
  .f5-ns {
    font-size: 1rem !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .f5-m {
    font-size: 1rem !important; } }

@media screen and (min-width: 60em) {
  .f5-l {
    font-size: 1rem !important; } }

.f6 {
  font-size: 0.76923rem; }

@media screen and (min-width: 30em) {
  .f6-ns {
    font-size: 0.76923rem !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .f6-m {
    font-size: 0.76923rem !important; } }

@media screen and (min-width: 60em) {
  .f6-l {
    font-size: 0.76923rem !important; } }

.f7 {
  font-size: 0.59172rem; }

@media screen and (min-width: 30em) {
  .f7-ns {
    font-size: 0.59172rem !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .f7-m {
    font-size: 0.59172rem !important; } }

@media screen and (min-width: 60em) {
  .f7-l {
    font-size: 0.59172rem !important; } }

.f8 {
  font-size: 0.45517rem; }

@media screen and (min-width: 30em) {
  .f8-ns {
    font-size: 0.45517rem !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .f8-m {
    font-size: 0.45517rem !important; } }

@media screen and (min-width: 60em) {
  .f8-l {
    font-size: 0.45517rem !important; } }

.f9 {
  font-size: 0.35013rem; }

@media screen and (min-width: 30em) {
  .f9-ns {
    font-size: 0.35013rem !important; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .f9-m {
    font-size: 0.35013rem !important; } }

@media screen and (min-width: 60em) {
  .f9-l {
    font-size: 0.35013rem !important; } }

/* @include genTachyons( 'lh1', 'line-height', '.5rem'); @include genTachyons( 'lh2', 'line-height', '1rem'); @include genTachyons( 'lh3', 'line-height', '1.5rem'); @include genTachyons( 'lh4', 'line-height', '2rem'); @include genTachyons( 'lh5', 'line-height', '3rem'); */
